body {
    font-family: Roboto mono;
    font-size: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.roomie-entry {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    place-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-self: center;
    text-align: center;
}

.roomie-entry > div:nth-child(1) {
  justify-self: start;
  text-align: left;
  padding-left: 40px;
}

.status {
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.at-home {
    background-color: rgb(14, 137, 14);
    color: rgb(0, 29, 0)
}

.out {
    background-color: rgb(176, 176, 176);
    color: rgb(121, 121, 121)
}

.update-time {
    font-size: 35px;
}